<form [formGroup]="form" (ngSubmit)="recordSubmit(form)">
  <div class="td">
    Name: <input class="form-control" formControlName="name">
  </div>
  <div class="td">
    FullName: <input class="form-control" formControlName="fullName">
  </div>
  <div class="td">
    TelephoneNumber: <input class="form-control" formControlName="telephoneNumber">
  </div>
  <div class="td">
    Email: <input class="form-control" formControlName="eMailAddress">
  </div>
  <div class="td">
    Country: <select class="form-control" formControlName="countryId">
        <option *ngFor="let item of countries" value="{{item.countryId}}">{{item.countryName}}</option>
    </select>
  </div>
  <div class="td">
      City: <input class="form-control" formControlName="city">
  </div>
  <div class="td">
      Street: <input class="form-control" formControlName="street">
  </div>
  <div class="td">
      PostalCode: <input class="form-control" formControlName="postalCode">
  </div>
  <div class="td">
      Number: <input class="form-control" formControlName="number">
  </div>
  <div class="td">
    &nbsp;<button type="submit" class="btn btn-success" [disabled]="form.invalid">
        <i class="fas fa-check"></i>
    </button>
  </div>
</form>